.dashboard-container {
    padding: 3rem;
    background-color: #06080e;
    height: auto;
    min-height: 100dvh;
}

.dashboard-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 0.6rem;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.widget-card {
    background-color: #242424;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.103);
}

.widget-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    border: 1px solid #707070;
}

.widget-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cecece;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ecf0f1b6;
    padding-bottom: 1rem;
}


.widget-header h3 {
    margin: 0;
    font-size: 1.1rem;
    text-shadow: 0 2px 1px rgb(64, 75, 95);
}

.widget-content .main-metric {
    font-size: 2.5rem;
    font-weight: 700;
    color: #cccccc;
    text-shadow: 0 2px 1px rgb(107, 106, 106);
    margin: 0;
    text-align: center;
}

.widget-content .sub-metric {
    display: block;
    text-align: center;
    color: #8b8b8b;
    font-size: 0.9rem;
    margin-top: 5px;
}

.widget-content .comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    font-size: 0.9rem;
}

.comparison.positive {
    color: #2ecc71;
}

.comparison.negative {
    color: #ff7060;
}

/* Estilos para widgets de lista */
.large-widget {
    grid-column: span 2; /* Faz o widget ocupar 2 colunas */
}

.list-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #474747;
    border-radius: 5px;
    font-size: 0.9rem;
}

.list-item span {
    color: #dddddd;
}

.list-item strong {
    color: #e6640d;
}

.MuiChartsLegend-item {
    color: white;
}

.css-32sa41-MuiChartsWrapper-root { /* Gráfico de Pizza do Laudos Emitidos */
    padding: 5px;
    margin-top: 5px;
}


/* Responsividade */
@media (max-width: 992px) {
    .large-widget {
        grid-column: span 1; /* Em telas menores, ocupa 1 coluna */
    }
}
