@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.login-box {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #151515;
}

.login-box-content {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 5px 10px 2px rgba(211, 211, 211, 0.233);
}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;

}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background: linear-gradient(90deg, #FF6600 0%, #ff9100 100%); ;
  color: white;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-transform: uppercase;
  font-size: 0.4rem;
  letter-spacing: -0.8px;
  padding: 18px;
  margin-bottom: -15px;
  font-weight: 600;
  box-shadow: 2px 3px 5px 0px rgba(151, 151, 151, 0.37);
}

.login-form-container {
  padding: 35px 40px;

}

.login-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
}

.login-label {
  padding: 0 3px;
  font-weight: 400;
  color: rgba(80, 80, 80, 0.815);
  font-size: 0.9rem;
  letter-spacing: -0.8px;
  text-shadow: 0px 1px 1px rgba(116, 116, 116, 0.2);
}

.login-input {
  padding: 12px 8px;
  border: 1px solid #c4c4c4e8;
  border-radius: 10px;
  color: black;
  outline: none;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 10px;

}

.login-input::placeholder {
  color: #969696e8;
  font-weight: 200;
}

.login-input:focus {
  border: 1px solid rgb(255, 102, 0);
  transition: all 0.5s;
}

.login-options {
  margin-top: -20px;
}

.login-forgot-password {
  text-align: right;
  font-size: 0.8rem;
  font-weight: 300;
  color: #fd5d00;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(68, 68, 68, 0.26);

}

.login-forgot-password:hover {
  color: #ff8945;
}

.login-remember-me {
  color: #474747;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.8rem;
  text-shadow: 0px 1px 1px rgba(116, 116, 116, 0.2);
}

.login-button {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: black;
  color: white;
  border: 1px solid rgb(61, 61, 61);
  font-size: 1rem;
  letter-spacing: -0.9px;
  cursor: pointer;
  box-shadow: 0 1px 5px 2px rgba(95, 95, 95, 0.199);
  margin-top: 20px;
}

.login-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: background-color 0.3s;
}