.section-notfound {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #242424;
}

.section-notfound svg {
    font-size: 3rem;
    color: rgb(255, 119, 109);
}

.error-404 {
    color: rgb(255, 119, 109);
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(143, 111, 111, 0.514);
}

.error-desc {
    color: white;
    font-size: 1.7rem;
    text-shadow: 2px 2px 5px rgb(75, 74, 74);
}